{
	"CodinGame": {
		"token": "_______________________________________",
		"userId": 4175165,
		"autoSubmit": false
	},
	"Twitch": {
		"username": "tyrolkagd",
		"token": "oauth:_______________________________",
		"clientID": "______________________________",
		"channel": "tyrolkagd",
		"admins": [
			"tyrolkagd"
		],
		"prefix": ",",
		"evalEnabled": true,
		"disabledCommands": [

		],
		"announceBan": false,
		"announceBanMessage": "Disabled, :)"
	}
}